
/*===============
    #Layout
===============*/
.ge-header,
.ge-footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 0.618rem;
}
.ge-header {
  flex-direction: row;
  width: 80%;
  min-height: 6vh;
  flex-wrap: wrap;
}
.ge-header__title,
.ge-header__subtitle {
  margin: 0;
}
.ge-header__title {
  font-size: 2.25vw;
  margin: 3.24vw 0 0 9.54vw;
}
.ge-header__subtitle {
  font-size: 2.25vw;
  flex-grow: 1;
}
.ge-header__logo {
  width: 18vw;
  height: 6vw;
  position: absolute;
  z-index: -1;
}
.main {
  display: flex;
  flex-grow: 1;
  padding: 0.618rem;
  flex-basis: 75vh;
  height: calc(100vh -  8vh  -  35px );
  overflow: hidden;
}
