
/*===============
    #Slide Navigation
===============*/

.slideNav {
  display: block;
  overflow-y: scroll;
  border-right: 12px solid colorNeutralDarkest;
  height: 80vh;
  width: sideWidth;
  margin: 0 1.618em 0 0;
  flex-shrink: 0;
  flex-grow: 1;
  smoothTransition();
  ul {
    box-sizing: border-box;
    font-size: 1.5em
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1em 1em 1.25em;
    height: 90%;
    ul {
      font-size: .75em;
    }
  }
}

.slideNav.ui-expandedfull + .slides {
    width: 0%;
}

.slideNav.ui-collapsed {
  width: 0%;
    + .slides {
      width: 100%;
      .slide {
          width: 100%;
      }
    }
}


