@-moz-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-o-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #theme
===============*/
* {
  box-sizing: border-box;
}
html {
  font-family: 'Asap', sans-serif;
  font-size: 100%;
  line-height: 1.618;
  min-height: 100%;
  overflow: visible;
}
body {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  color: #646464;
  font-size: 1rem;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #144b7e;
  letter-spacing: 0.1ch;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin: 0 0 0.618rem 0;
}
p {
  margin: 1.618rem 0 0.618em 0;
}
a {
  text-decoration: none;
  outline: none;
}
table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
thead {
  order: -1;
}
tbody {
  flex-grow: 1;
}
tfoot {
  order: 1;
}
thead,
tbody,
tfoot {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: stretch;
}
tr {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}
td,
th {
  flex-basis: 15%;
  flex-grow: 2;
  text-align: left;
}
.table--reverse {
  flex-direction: row;
  min-height: 8em;
}
.table--reverse tr {
  flex-direction: column;
}

@-moz-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-o-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Transition effects
===============*/
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes slideUpToHidden {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-130vh);
  }
}
@-webkit-keyframes slideUpToHidden {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-130vh);
  }
}
@-o-keyframes slideUpToHidden {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-130vh);
  }
}
@keyframes slideUpToHidden {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-130vh);
  }
}
@-moz-keyframes slideUpToVisible {
  from {
    transform: translateY(130vh);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideUpToVisible {
  from {
    transform: translateY(130vh);
  }
  to {
    transform: translateY(0);
  }
}
@-o-keyframes slideUpToVisible {
  from {
    transform: translateY(130vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideUpToVisible {
  from {
    transform: translateY(130vh);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slideDownToVisible {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDownToVisible {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
@-o-keyframes slideDownToVisible {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDownToVisible {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

@-moz-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-o-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Layout
===============*/
.ge-header,
.ge-footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 0.618rem;
}
.ge-header {
  flex-direction: row;
  width: 80%;
  height: 120px;
  min-height: 8vh;
  flex-wrap: wrap;
}
.ge-header__title,
.ge-header__subtitle {
  margin: 0;
}
.ge-header__title {
  font-size: 2.25vw;
  margin: 50px 0 0 150px;
}
.ge-header__subtitle {
  font-size: 2.25vw;
  flex-grow: 1;
}
.ge-header__logo {
  width: 279px;
  height: 93px;
  position: absolute;
  z-index: -1;
}
.main {
  display: flex;
  flex-grow: 1;
  padding: 0.618rem;
  flex-basis: 75vh;
  height: calc(100vh - 8vh - 35px);
  overflow: hidden;
}

@-moz-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-o-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Slide Navigation
===============*/
.slideNav {
  display: block;
  overflow-y: scroll;
  border-right: 12px solid #646464;
  height: 80vh;
  width: 350px;
  margin: 0 1.618em 0 0;
  flex-shrink: 0;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
}
.slideNav .list {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.5em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em 1em 1.2em;
  height: 90%;
}
.slideNav .list__item__link {
  color: #9fca7f;
}
.slideNav .list__item__link:hover,
.slideNav .list__item__link:focus {
  color: #b8d098;
}
.slideNav .list__item__link.visited {
  color: #19503d;
}
.slideNav .list .list {
  font-size: 0.75em;
  font-weight: normal;
}
.slideNav.ui-expandedfull + .slides {
  width: 0%;
}
.slideNav.ui-collapsed {
  width: 0%;
}
.slideNav.ui-collapsed + .slides {
  width: 100%;
}
.slideNav.ui-collapsed + .slides .slide {
  width: 100%;
}

@-moz-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-o-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Slides fool
===============*/
.slides {
  position: relative;
  display: flex;
  height: 80vh;
  overflow: hidden;
  width: calc(100vw -  350px );
  transition: all 0.3s ease-in-out;
}
.slide {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  float: left;
  display: inline-flex;
  flex-direction: column;
  padding: 1.618rem 0.618em;
  height: 100%;
  width: calc(100vw -  350px );
  border-radius: 4px;
  margin: 0 0vw 0 0;
  background-color: #dae4ec;
  transition: 0.25s all ease-in-out;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
}
.slide__header {
  order: 0;
}
.slide__footer {
  font-size: 0.85em;
  order: 2;
  position: absolute;
  bottom: 0;
}
.slide.ui-prev {
  margin-left: -100vw;
}
.slide__content {
  flex-grow: 1;
  flex-shrink: 0;
  height: 0%;
  transition: all 0.5s ease-in-out;
}
.slide__content.ui-visible {
  height: 100%;
}
.slide__content.ui-hiddenTop {
  flex-grow: 0;
  flex-shrink: 1;
  height: 0%;
  overflow: hidden;
}
.ge-footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  height: 49px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.ge-footer__legalese {
  color: #ebebeb;
}

@-moz-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@-o-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Code edit
===============*/
.highlight-code slide.current pre > * {
  opacity: 0.25;
  transition: all 0.3s ease-in-out;
}
.highlight-code slide.current b {
  opacity: 1;
}
[contenteditable="true"],
[contenteditable] {
  display: block;
  resize: both;
  min-height: 12em;
  border: 1px dashed transparent;
}
[contenteditable="true"]:focus,
[contenteditable]:focus,
[contenteditable="true"]:active,
[contenteditable]:active {
  outline: none;
  border: 1px dashed colorNeturalLightest;
}
pre {
  min-height: 12em;
  overflow-y: scroll;
}
pre,
[contenteditable="true"],
[contenteditable] {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 1.25em;
  line-height: 1.4;
  padding: 10px 0 10px 3em;
  letter-spacing: -1px;
  margin-bottom: 1em;
  width: 90%;
  background-color: #dbdbdb;
  left: 3em;
  position: relative;
  overflow: scroll;
/*overflow: hidden;*/
}
pre[data-lang]:after,
[contenteditable="true"][data-lang]:after,
[contenteditable][data-lang]:after {
  content: attr(data-lang);
  background-color: #646464;
  right: 8px;
  top: 0;
  position: absolute;
  font-size: 0.5em;
  color: #fff;
  padding: 2px 0.618em;
  text-transform: uppercase;
  border-radius: 0 0 3px 3px;
}
pre[data-lang="go"] {
  color: #333;
}
pre[data-lang="html"]:after {
  color: #92278f;
}
pre[data-lang="js"]:after {
  color: #144b7e;
}
code {
  font-size: 95%;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  color: #000;
}
figure pre {
  flex-basis: 17.5em;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Pretty print */
.prettyprint .str,
.prettyprint .atv {
/* a markup attribute value */
  color: #144b7e;
}
.prettyprint .kwd,
.prettyprint .tag {
/* a markup tag name */
  color: #06c;
}
.prettyprint .com {
/* a comment */
  color: #646464;
  font-style: italic;
}
.prettyprint .lit {
/* a literal value */
  color: #7f0000;
}
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #19503d;
}
.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
/* a declaration; a variable name */
  color: #92278f;
}
.prettyprint .pln {
  color: #646464;
}
