@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #theme
===============*/
* {
  box-sizing: border-box;
}
html {
  font-family: 'Asap', sans-serif;
  font-size: 100%;
  line-height: 1.618;
  min-height: 100%;
  overflow: visible;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #646464;
  font-size: 1rem;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #144b7e;
  letter-spacing: 0.1ch;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: bold;
  margin: 0 0 0.618rem 0;
}
p {
  margin: 1.618rem 0 0.618em 0;
}
a {
  text-decoration: none;
  outline: none;
}
table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
thead {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
tbody {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
tfoot {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
thead,
tbody,
tfoot {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
tr {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
td,
th {
  -webkit-flex-basis: 15%;
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: left;
}
.table--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 8em;
}
.table--reverse tr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Transition effects
===============*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideUpToHidden {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-130vh);
            transform: translateY(-130vh);
  }
}
@keyframes slideUpToHidden {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-130vh);
            transform: translateY(-130vh);
  }
}
@-webkit-keyframes slideUpToVisible {
  from {
    -webkit-transform: translateY(130vh);
            transform: translateY(130vh);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideUpToVisible {
  from {
    -webkit-transform: translateY(130vh);
            transform: translateY(130vh);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideDownToVisible {
  from {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideDownToVisible {
  from {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Layout
===============*/
.ge-header,
.ge-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  padding: 0.618rem;
}
.ge-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  min-height: 6vh;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.ge-header__title,
.ge-header__subtitle {
  margin: 0;
}
.ge-header__title {
  font-size: 2.25vw;
  margin: 3.24vw 0 0 9.54vw;
}
.ge-header__subtitle {
  font-size: 2.25vw;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.ge-header__logo {
  width: 18vw;
  height: 6vw;
  position: absolute;
  z-index: -1;
}
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0.618rem;
  -webkit-flex-basis: 75vh;
      -ms-flex-preferred-size: 75vh;
          flex-basis: 75vh;
  height: calc(100vh - 8vh - 35px);
  overflow: hidden;
}
body:before {
  content: "smartphone";
  display: none; /* Prevent from displaying. */
}
@media (min-width: 700px) {
  body:before {
    content: "tablet";
  }
}
@media (min-width: 1100px) {
  body:before {
    content: "desktop";
  }
}

@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Slide Navigation
===============*/
.slideNav {
  display: block;
  overflow-y: scroll;
  border-right: 12px solid #646464;
  height: 80vh;
  width: 350px;
  margin: 0 1.618em 0 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.slideNav .list {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.5em;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em 1em 1.2em;
  height: 90%;
}
.slideNav .list__item__link {
  color: #9fca7f;
}
.slideNav .list__item__link:hover,
.slideNav .list__item__link:focus {
  color: #b8d098;
}
.slideNav .list__item__link.visited {
  color: #19503d;
}
.slideNav .list .list {
  font-size: 0.75em;
  font-weight: normal;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slideNav.ui-expandedfull + .slides {
  width: 0%;
}
.slideNav.ui-collapsed {
  width: 0%;
}
.slideNav.ui-collapsed + .slides {
  width: 100%;
}
.slideNav.ui-collapsed + .slides .slide {
  width: 100%;
}

@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Slides fool
===============*/
.slides {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  overflow: hidden;
  width: calc(100vw -  350px );
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.slide {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  float: left;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.618rem 0.618em;
  height: 100%;
  width: calc(100vw -  350px );
  border-radius: 4px;
  margin: 0 0vw 0 0;
  background-color: #dae4ec;
  -webkit-transition: 0.25s all ease-in-out;
          transition: 0.25s all ease-in-out;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.slide__footer {
  font-size: 0.85em;
  position: absolute;
  bottom: 20px;
}
.slide.ui-prev {
  margin-left: -100vw;
}
.slide__content + .slide__content:before {
  content: '\21A8';
  position: relative;
  top: -78px;
  font-size: 1.45em;
  height: 1.5em;
  width: 1.5em;
  left: 92%;
}
.slide__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 1.4rem;
  padding: 0 1.618em;
  height: 0%;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.slide__content.ui-visible {
  height: 100%;
}
.slide__content.ui-hiddenTop {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  height: 0%;
  overflow: hidden;
}
.ge-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  height: 49px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.ge-footer__legalese {
  color: #ebebeb;
}

@-webkit-keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
@keyframes animationFadein {
  0% {
    color: rgba(68,68,68,0.01);
  }
  100% {
    color: #444;
  }
}
/*===============
    #Code edit
===============*/
.highlight-code slide.current pre > * {
  opacity: 0.25;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.highlight-code slide.current b {
  opacity: 1;
}
[contenteditable="true"],
[contenteditable] {
  display: block;
  resize: both;
  min-height: 12em;
  border: 1px dashed transparent;
}
[contenteditable="true"]:focus,
[contenteditable]:focus,
[contenteditable="true"]:active,
[contenteditable]:active {
  outline: none;
  border: 1px dashed colorNeturalLightest;
}
pre {
  min-height: 12em;
  overflow-y: scroll;
}
pre,
[contenteditable="true"],
[contenteditable] {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 1.25em;
  line-height: 1.4;
  padding: 10px 0 10px 3em;
  letter-spacing: -1px;
  margin-bottom: 1em;
  width: 90%;
  background-color: #dbdbdb;
  left: 3em;
  position: relative;
  overflow: scroll;
/*overflow: hidden;*/
}
pre[data-lang]:after,
[contenteditable="true"][data-lang]:after,
[contenteditable][data-lang]:after {
  content: attr(data-lang);
  background-color: #646464;
  right: 8px;
  top: 0;
  position: absolute;
  font-size: 0.5em;
  color: #fff;
  padding: 2px 0.618em;
  text-transform: uppercase;
  border-radius: 0 0 3px 3px;
}
pre[data-lang="go"] {
  color: #333;
}
pre[data-lang="html"]:after {
  color: #92278f;
}
pre[data-lang="js"]:after {
  color: #144b7e;
}
code {
  font-size: 95%;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  color: #000;
}
figure pre {
  -webkit-flex-basis: 17.5em;
      -ms-flex-preferred-size: 17.5em;
          flex-basis: 17.5em;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Pretty print */
.prettyprint .str,
.prettyprint .atv {
/* a markup attribute value */
  color: #009f5d;
}
.prettyprint .kwd,
.prettyprint .tag {
/* a markup tag name */
  color: #06c;
}
.prettyprint .com {
/* a comment */
  color: #646464;
  font-style: italic;
}
.prettyprint .lit {
/* a literal value */
  color: #7f0000;
}
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #515151;
}
.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
/* a declaration; a variable name */
  color: #d94d3a;
}
.prettyprint .pln {
  color: #646464;
}
