/*===============
    #vars
===============*/
//========== root values
phi = 1.618
fi = .618
golden = 1.61803398875

rootPx = 16px
rootEm = 1em
rootPercent = 100%
rootPt = pxToPt(rootPx)

fontBody= 'Asap', sans-serif;
fontHeaders='Palanquin Dark', sans-serif;

colorNeutralWhitest = #ffffff;
colorNeutralLightest = #ebebeb;
colorNeutralLight = #dbdbdb;
colorNeutralDarkest = #646464;

colorCoolDesat1= #19503D;
colorCoolDesat2= #b8d098;
colorCoolDesat3 = #9fca7f;

colorCoolest = #a7dbd8;
colorCooler = #057aa8;
colorCool = #144b7e;

colorCoolMedium= #a7dbd8;
colorWarm = #92278f;
colorWarmer= #da8246;
colorWarmest= #ffde66;


sideWidth = 350px;